@{
    ViewData["Title"] = "GetToKnow";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <br />
    <a href="https://www.qwcomedy.com/" target="_blank"" style="font-size: 20px;">Wits Comedy</a>
    <br />
    <a href="https://baconsale.com/" target="_blank" style="font-size: 20px;">Baconsale</a>
    <br />
    <br />
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/lib/mission06assignment_baconpicture.jpg" alt="Bacon Image" height="300" width="400">
</div>